.navtop { margin-bottom: 30px }

.archive-page-title {

  width: 100%;
  line-height: 2.5em;
  margin: 30px 0;
  clear: both;
  display: block;
  padding: 80px 0;
  text-align: center;
  filter: brightness(.95);
  background:  $special;
  font-size: 28px;
  color: $lightext;
  @include normal-prefixes( border-radius, 6px );

}
